.container1 {
  max-width: 1060px;
  margin: auto;
  min-height: 100vh;
  height: 100%;
}

.header {
  height: 70px;
  background-color: aqua;
  font-weight: 700;
  border-bottom: 1px solid black;
  box-shadow: '1px 1px 2px black';
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  height: 50px;
  background-color: lightgray;
  font-weight: 700;
  border-top: 1px solid black;
  box-shadow: '1px 1px 2px black';
  display: flex;
  align-items: center;
  justify-content: center;
}